<div class="row">
    <div class="col-md-12 my-4">
        <h3>Edit post</h3>
        <hr>
        <form [formGroup]="formPost" (ngSubmit)="onSave()">
            <label>title</label>
            <input type="text" hidden formControlName="id"/>
            <input type="text" class="form-control" formControlName="title"/>
            <div *ngIf="getTitleControlError() as errorMsg">
                {{errorMsg}}
            </div>
            <label>description</label>
            <textarea class="form-control" formControlName="description"></textarea>
            <div *ngIf="getDescriptionControlError() as descErrorMsg">
                {{descErrorMsg}}
            </div>
            <input class="btn btn-primary" 
            [disabled]="!formPost.valid"
            type="submit" value="Save"/>
        </form>
    </div>
</div>